@inherits LayoutComponentBase

<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="VENZO_" />
        </div>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" style="width:100%">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Core Business" Icon="request_quote">
                <RadzenPanelMenuItem Text="Customers" Icon="text_snippet" Path="customers" />
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
        <RadzenBody style="overflow:hidden;max-height:100%;">
        <div class="p-0">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter class="rz-shadow-3">
        <Footer />
    </RadzenFooter>
</RadzenLayout>