<div class="row">
    <div class="col-6">
        <a href="https://venzo.com/" target="_blank" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="images/Venzo_logo.jpg" height="40" />
        </a>
    </div>
    <div class="col-6 text-right">
        <small>VENZO_, Copyright @DateTime.Now.Year</small>
    </div>
</div>