@using Venzo.Denmark.Project.Web.Api.Client

<div class="row">
    <div class="col-12">
        <h3 style="height:10px">Customers</h3>
        <p style="height:15px">Customer list detail.</p>
    </div>
</div>

<div class="row mt-2" style="width:100%">
    <div class="col-12">
        <RadzenDataGrid @ref="dataGrid" Count="customersCount" TItem="CustomerModel" PageSize="pageSize"
                        LoadData="@DataGrid_OnLoadDataAsync" Data="customers" IsLoading=isLoading
                        AllowSorting="false" AllowPaging="true" AllowFiltering="false" ShowEmptyMessage=false 
                        Density="Density.Compact" PagerHorizontalAlign="HorizontalAlign.Center"
                        ColumnWidth="300px" style="height: 445px">
            <Columns>
                <RadzenDataGridColumn TItem="CustomerModel" Property="Id" Title="Id" Width="50px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="Name" Title="Name" Width="200px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="Address" Title="Address" Width="200px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="City" Title="City" Width="150px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="Region" Title="Region" Width="150px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="PostalCode" Title="Postal Code" Width="150px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="Country" Title="Country" Width="150px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="Phone" Title="Phone" Width="150px" />
                <RadzenDataGridColumn TItem="CustomerModel" Property="HomePage" Title="HomePage" Width="250px" />
            </Columns>
        </RadzenDataGrid>
    </div>
</div>