@using Venzo.Denmark.Project.Web.Api.Client

<div class="row">
    <div class="col-12">
        <h3 style="height:10px">Customers</h3>
        <p style="height:15px">Customer list detail.</p>
    </div>
</div>

<div class="row mt-2" style="width:100%">
    <div class="col-12">
        <RadzenDataGrid @ref="dataGrid" Count="roomsCount" TItem="RoomModel" PageSize="pageSize"
                        LoadData="@DataGrid_OnLoadDataAsync" Data="rooms" IsLoading=isLoading
                        AllowSorting="false" AllowPaging="true" AllowFiltering="false" ShowEmptyMessage=false
                        Density="Density.Compact" PagerHorizontalAlign="HorizontalAlign.Center"
                        ColumnWidth="300px" style="height: 445px">
            <Columns>
                <RadzenDataGridColumn TItem="RoomModel" Property="Id" Title="Id" Width="0px" />
                <RadzenDataGridColumn TItem="RoomModel" Property="Name" Title="Room" Width="250px" />
                <RadzenDataGridColumn TItem="RoomModel" Property="NumberOfPeople" Title="Quantity" Width="250px" />

                <RadzenDataGridColumn TItem="RoomModel" Title="Action" Filterable=false Sortable=false Width="90px" Frozen=true>
                    <Template Context="data">
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Reserve" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                      Click="@(args => AddReservation_OnCLickRowAsync(data))" @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </div>
</div>